
.service{
    width: 80%;
    margin: 3rem auto;
    margin-top: 20rem;
    margin-bottom: 25rem;
    
}

.service_box{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 3rem;
    text-align: center;
}


.service_box_item1{
    margin-bottom: 0rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.service_box_item2{
    margin-bottom: 0rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.service_box_item3{
    margin-bottom: 0rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.service_box_item4{
    margin-bottom: 0rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.service_box_item1:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .service_box_item2:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .service_box_item3:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .service_box_item4:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
  }


.service_box_item_step{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.service_box_item_step span{
    padding: 1rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    border: 4px double rgba(1,122,254,255);
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-family: "Good Timing";
    font-size: 1rem;
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    
}

.service_box_item_step span:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(1,122,254, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

@media screen and (max-width: 35em) {
    .service{
        width: 90%;
    }
}

@media screen and (max-width: 50em) {
    .service_box{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}