

.SliderCard{
    padding: 1rem;
    width: 90%;
    
}

.SliderCard_box{
    transition: all .3s ease-in;
    border-radius: .5rem;
    margin-left: 3rem;
    width: 100%;
    gap: 0rem;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px;
}

.SliderCard_box:hover{
    box-shadow: 0 0 5px #017afe99, 0 0 10px #017afe99, 0 0 20px;
    
}

.SliderCard_box_img_img{
    border-radius: .5rem;
}

.SliderCard_box_title{
    display: flex;
    align-items: center;
    padding-inline: 2rem ;
    justify-content: space-between;
    gap: 1rem;
}

.SliderCard_box_title p{
    font-size: 1.2rem;
    line-height: .5;
    font-weight: 800;
}

.SliderCard_box_title_like{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.SliderCard_box_price{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    line-height: 0;
    margin-top: 1rem;
    text-align: end;
}

.SliderCard_box_price_box{
    border: 4px double rgba(1,122,254,255);
    padding: .2rem 1rem;
    border-radius: .5rem;
}

.SliderCard_box_price_box small{
    background-color: black;
    padding: .2rem .5rem;
    border-radius: .2rem;
    color: white;
    border: 4px double rgba(1,122,254,255);
}

.SliderCard_box_price_box p{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 0;
}

.SliderCard_box_price_time{
    align-items: flex-end;
    display: grid;
}

.SliderCard_box_price_time p{
    font-size: 1.3rem;
    font-weight: 700;
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .SliderCard{
        padding: .5rem;
    }

    .SliderCard_box_title p{
        font-size: 1rem;
    }
    .SliderCard_box_price_box{
        padding: .2rem;
    }

    .SliderCard_box_price_time p{
        font-size: 1rem;
    }
}