

.Loader{
    width: 100%;
    margin-block: 4rem;
}

.Loader_box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.Loader_box_img {
    margin-bottom: 14rem;
    margin-top: 8rem;
    animation: mymove 10s infinite;
    opacity: 0;
    animation-name: fade;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
