
.heroSection{
    width: 90%;
    margin: 3rem auto;
    margin-top: 8rem;
    
}

.heroSection_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    
}

.heroSection_box_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115%;
    margin-left: -10rem;
    
}


.heroSection_box_right_vid {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
  }
  
 
  
  .heroSection_box_right_muteBtn {
    position: absolute;
    color: #ffffff91;
    bottom: 115px;
    right: 115px;
    z-index: 1;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

.heroSection_box_left{
    padding-left: 6rem;
    padding-top: 2rem;
    
   
}

.heroSection_box_left h1{
    font-size: 5rem;
    line-height: 3rem;
}

.heroSection_box_left h2{
    font-size: 5rem;
    line-height: 2rem;
}

.heroSection_box_left h3{
    font-size: 5rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.heroSection_box_left p{
    padding-right: 10rem;
    margin-bottom:  4rem;
    font-size: 1.25rem;
}



@media screen and (max-width: 35em) {
    .heroSection{
        width: 90%;
    }
}

@media screen and (max-width: 55em) {
    .heroSection_box{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .heroSection_box_left{
        padding-right: 2rem;
    }
}