.button {
    background-color: var(--main-bg-color); /*#3d465c;*/
    padding: 1rem 1rem;
    border: 4px double rgba(1,122,254,255);
    border-radius: 1rem;
    font-size: 1.1rem;
    font-family: "Good Times";
    cursor: pointer;
    transition:  all .2s ease-in;
    box-shadow: var(--box-shadow);
}

.button:hover{
    background-color: var(--xdrip-light-gray);
    color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
}


/*
.Button_button__QHarr {
    background-color: var(--darkreader-bg--icons-color); #31384a
    color: var(--darkreader-text--shadow-light-color); #dbd8d3
    box-shadow: var(--darkreader-bg--box-shadow);
    border: 1px solid var(--darkreader-border--icons-color); #736b5e
}*/