
.box_category{
    width: 80%;
    margin: 0 auto;
}

.category{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    
}

.category_box{
    line-height: 0;
    transition: all .3s ease-in;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
    padding-block: 0rem;
    padding-bottom: 1rem;
    box-shadow: var(--white-glow);
    align-items: center;
    justify-items: center;
    background-image: url(../../img/card-background-5.png);
    
    
    
}



.category_box:hover{
    box-shadow: var(--white-glow);
    
}

.category_box_img{
    border-radius: .5rem;
    padding-left: 2rem;
    width: 100%;
    
    
}

.category_box_title{
    
    display: flex;
    align-content: center;
    justify-content: center;
   
    gap: 1rem;
  }

  .category_box_title span{
    
    display: flex;
    padding-left: 1.5rem;
    gap: 0rem;
    border-radius: 50%;
  }

.category_box_title_info h4{
    align-items: center;
    padding-top: 1rem;
    font-size: 1.2rem;
    
}

.category_box_title span{
    margin-right: .5rem;
    margin-top: 1rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {

    .box_category{
        width: 90%;
    }
    .category{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 427px) and (max-device-width: 770px) {
    .category{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-device-width: 772px) and (max-device-width: 1025px) {
    .category{
        grid-template-columns: repeat(3,1fr);
    }
}

