.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.25rem 0;
    width: 100%;
    background-color: #2b2a2a3a;
    z-index: 1000;
    transition: background-color 0.2s ease;
}

.navbar-undocked {
    background-color: #000000e5;
}


.navbar_container {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    justify-content: space-between;

}

.navbar_container_left {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}

.navbar_container_left_box_input_box {
    border: 4px double rgba(1,122,254,255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin-left: 0rem;
    border-radius: 1rem;
    gap: 1rem;
}

.navbar_container_left_box_input_box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.search_icon {
    cursor: pointer;
    font-size: 1.2rem;
}

/* //-------RIGHT */

.navbar_container_right {
    display: grid;
    padding-right: 3rem;
    grid-template-columns: 23% 23% 7% 32% 10%;
    gap: 1rem;
    align-items: center;

}

.navbar_container_right_discover {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    font-size: .5rem;
}

.navbar_container_right_help{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .5rem;
    
}

.navbar_container_right_discover_box,
.navbar_container_right_help_box{
    position: absolute;
    padding: 1rem .5rem;
    
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px;
    width: 11rem;
    border-radius: .25rem;
    background-color: black;
    margin-top: 3.75rem;
}


.navbar_container_right_notify {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}

.notify {
    font-size: 2rem;
}

.notification_menu{
    position: absolute;
    margin-top: 0rem;
}

.navbar_container_right_profile_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.navbar_container_right_profile {
    border-radius: .5rem;
}

.navbar_container_right_discover:hover,
.navbar_container_right_help:hover{
    text-shadow: var(--box-shadow);
}

  .navbar_container_right_profile_box:hover .navbar_container_right_profile {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  }
  
.navbar_container_right_menuBtn {
    display: none;
}

.menuIcon {
    font-size: 2.5rem;
    cursor: pointer;
}

.box_box_right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
}


.box_box_right_btn {
    background-color: #000000a2 !important;
    padding: .75rem .75rem .75rem .75rem!important;    
    border: 4px double rgba(1,122,254,255) !important;
    border-radius: .5rem !important;
    font-size: 1rem !important;
    color: white !important;
    font-family: "Good Timing" !important;
    cursor: pointer !important;
    transition: all .2s ease-in !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9) !important;
    
}


.box_box_right_btn:hover {
    background-color: var(--xdrip-gray) !important;
    /*border:  1px solid var(--icons-color);*/
    /*color:  var(--icons-color);*/
}



/* /////------SIDEBAR */

.sideBar {
    position: fixed;
    top: 0;
    width: 24rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    height: 100vh;
    overflow-y: auto;
    display: none;
    z-index: 11111;
}

.sideBar::-webkit-scrollbar {
    display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .navbar_container {
        grid-template-columns: 1fr 1fr;
    }

    .navbar_container_left {
        grid-template-columns: 1fr;
    }

    .navbar_container_right {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar_container_right_menuBtn {
        display: block;
    }

    .navbar_container_left_box_input_box {
        display: none;
    }

    .navbar_container_right_discover {
        display: none;
    }

    .navbar_container_right_help {
        display: none;
    }

    .navbar_container_right_button {
        display: none;
    }

    .sideBar {
        display: block;
    }
}