.button {
    background-color: var(--icons-color) !important; /*#3d465c;*/
    padding: 1rem 2rem !important;
    border: 1px solid var(--xdrip-gold !important);
    border-radius: 2rem !important;
    font-size: 1.1rem !important;
    color: var(--xdrip-light-gray !important);
    font-family: "Good Times" !important;
    cursor: pointer !important;
    transition:  all .2s ease-in !important;
    box-shadow: var(--box-shadow) !important;
}