
.daysComponent{
    width: 100%;
    border-radius: .5rem;
    transition: all .3s ease-in;
    cursor: pointer;
    box-shadow: var(--white-glow);
    
}


.daysComponent:hover{
    box-shadow: 0 0 5px #017afe99, 0 0 10px #017afe99, 0 0 20px;
}


.daysComponent_box_img_img{
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    
}

.daysComponent_box_profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    border-bottom: .2rem solid rgb(131, 127, 127);
    
}




.daysComponent_box_title{
    padding: 1rem 2rem;
    line-height: 0;
    background-image: url(../../../img/card-background-5.png);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.daysComponent_box_title_info_profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.daysComponent_box_title_info{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
}

.daysComponent_box_title_info_profile_img{
    border-radius: 50%;
    
}

.daysComponent_box_title_info_profile span{
  font-weight: 600;
  padding-inline: .5rem;
  
}

.daysComponent_box_title_info_price small{
    font-weight: 500;
    border: 4px double rgba(1,122,254,255);
    padding: .5rem;
    font-size: 1.1rem;
    color: white;
    border-radius: .5rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .daysComponent_box_profile{
        grid-template-columns: repeat(3, 1fr);
    }

    .daysComponent_box_title_info{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        padding: 1rem;
    }
}

.daysComponent_box_title{
    padding: 1rem;
}