
.collection{
    width: 100%;
    padding: 3rem 0;
    padding-bottom: 12rem;
}

.collection_title{
    width: 70rem;
    margin:  0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}

.collection_title h2{
    font-size: 3rem;
    margin-bottom: 4rem;
}


.collection_collections_btn{
    
    padding: .5rem 1rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 0rem;
    align-items: center;
    font-size: 1.2rem;
    
    
}

.collection_collections_btn button{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border:  1px solid var(--main-bg-color);
    transition: all .3s ease-in;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--xdrip-light-gray);
    font-family: "Good Times";
}

.collection_collections_btn button:hover{
    border:  1px solid var(--icons-color);
    /*color: var(--icons-color);*/
    box-shadow: var(--box-shadow);
}

.collection_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}


@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .collection_title{
        width: 90%;
    }

    .collection_title h2{
        font-size: 2rem;
    }

    .collection_box{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .collection_collections_btn button{
        font-size: .7rem;
    }
}

@media screen and (min-device-width: 427px) and (max-device-width: 1024px) {
    .collection_title{
        width: 90%;
    }

    .collection_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}