
.profile{
    position: absolute;
    padding: 2rem .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 20rem;
    border-radius: 1rem;

    left: -17rem;
    top: 4.5rem;
    z-index: 22222222222;
    background-color: var(--main-bg-color);
}

.profileMenuContainer {
  position: absolute;
  top: 100%;
  right: 0;.profile {
    position: absolute;
    padding: 2rem .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 20rem;
    border-radius: 1rem;
    left: -17rem;
    top: 4.5rem;
    z-index: 22222222222;
    background-color: var(--main-bg-color);
}

.profileMenuContainer {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.profile_account {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
}

.profile_account_img {
    border-radius: 50%;
}

.profile_account_info {
    line-height: 0.3;
}

.profile_account_info p {
    font-weight: 600;
}

.profile_menu_one_item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 1.5rem;
    transition: all .3s ease-in;
    cursor: pointer;
}

.profile_menu_one_item:hover {
    /*background-color: rgba(1,122,254,0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    border-radius: .3rem;*/
    background-color: #555555;
    color: #00ff11; 
}

.profileItem {
    transition: all .3s ease-in;
}
.profileItem:hover {
    background-color: #555555;
    color: #00ff11; 
    cursor: pointer;
    text-shadow: var(--box-shadow); /* Added text-shadow to match navbar hover */
}

@media screen and (max-width: 35em) {
    .profile {
        left: -13.5rem;
    }
}
  z-index: 1;
}

.profile_account{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
}

.profile_account_img{
    border-radius: 50%;
}

.profile_account_info{
    line-height: 0.3;
}

.profile_account_info p{
    font-weight: 600;
}

.profile_menu_one_item{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 1.5rem;
    transition:  all .3s ease-in;
}

.profile_menu_one_item:hover{
    background-color: var(--icons-color);
    /*color: var(--shadow-dark-color);*/
    border-radius: .3rem;
}

.profileItem:hover {
  background-color: #555555;
  color: #2A2A2A;
  cursor: pointer;
}

@media screen and (max-width: 35em) {
    .profile{
        left: -13.5rem;
    }
}