
.discover{
    padding: .5rem 1rem;
    transition:  all .3s ease-in;
    z-index: 2222222222;
    font-family: 'Aldrich', sans-serif;
}

.discover:hover{
    background-color: rgb(37, 37, 37);
    /*color: var(--shadow-dark-color);*/
    border-radius: .2rem;
}