
.audioPlayer_box{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    align-items: center;
    gap: 1.3rem;
    line-height: 0;
    background-color:  var(--bg-shadow-dark-color);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    height: 8rem;
    transition: all .3s ease-in;
    cursor: pointer;
}

.audioPlayer_box:hover{
    box-shadow: 0 0 5px #017afe99, 0 0 10px #017afe99, 0 0 20px;
}

.audioPlayer_box_info_box{
    display: flex;
    gap: 1rem;
}

.audioPlayer_box_info h4{
    padding-bottom: 1rem;
}

.audioPlayer_box_img{
    border-radius: .5rem;
}

.audioPlayer_box_info_box_price{
    border: 2px double rgba(1,122,254,255);
    font-size: .8rem;
    width: 50%;
    font-weight: 600;
    border-radius: .4rem;
    padding: 0.3rem 1rem;
}

.audioPlayer_box_info_box_price small{
    background-color:  rgb(15, 15, 15);
    border: 2px double rgba(1,122,254,255);
    color: var(--xdrip-light-gray);
    padding: .1rem .3rem;
    border-radius: .2rem;
    position: relative;
    top: -0.6rem;
}

.audioPlayer_box_info_box_price p{
    margin-top:  1rem;
}

.audioPlayer_box_playBtn{
    padding: 1.3rem;
    display: flex;
    align-items: center;
    border: 4px double rgba(1,122,254,255);
    border-radius: 50%;
    background-color: var(--main-bg-color);
    font-size: 2.0rem;
    cursor: pointer;
}

.audioPlayer_box_playBtn svg{
    position:relative;
    right:-1px;
}