.nft_wallet{
  padding-top: 7rem;
}
.nft_wallet_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  
}
.page_title {
  font-size: 4rem;
  margin-bottom: 4rem;
  padding-left: 7rem;
}
 