

.followerTab{
  width: 100%;
  padding-block: 6rem;
  border: 1px;
  position: relative;
  padding-bottom: 12rem;
}

.followerTab_title{
    width: 60rem;
    margin: 0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}



.followerTab_tabs_btn{
    
    border-radius: 2rem;
    display: flex;
    justify-content:  space-around;
    gap: 10rem;
    align-items: center;
    font-size: 1.2rem;
    
}

.followerTab_tabs_btn button{
    padding: 1rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    border: 4px double rgba(1,122,254,255);
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-family: "Good Times";
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

}

.followerTab_tabs_btn button:hover{
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.followerTab_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    
}

.followerTab_member{
    text-align: center;
    padding-bottom: 10rem;
    
}

.followerTab_member_box{
    padding: 10rem 0 0 0;
    padding-bottom: 1.3rem;
    align-items:  center;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}



.followerTab_member_box a:hover{
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}


.followerTab_member_box a{
    padding: 1rem 1.25rem;
    border-radius: 0.4rem;
    border: 4px double rgba(1,122,254,255);
    cursor: pointer;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-family: "Good Times";
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    margin-bottom: 12rem;
    margin-inline: 4rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .followerTab{
        padding-block: 6rem;
    }

    .followerTab_box{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .followerTab_title{
        width: 90%;
    }

    .followerTab_title h2{
        font-size: 2rem;
    }
    .followerTab_member_box{
        gap: 0;
    }
    .followerTab_member_box a{
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .followerTab_tabs_btn button{
        font-size: 1rem;
    }
}

@media screen and (min-device-width: 428px) and (max-device-width: 769px) {
.followerTab{
    grid-template-columns: repeat(2, 1fr);
  }

  .followerTab_title{
    width: 90%;
  }

  .followerTab_title h2{
    font-size: 3rem;
  }

  .followerTab_member_box a{
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

@media screen and (min-device-width: 428px) and (max-device-width: 769px) {
    .followerTab_title{
        width: 90%;
    }

    .followerTab_title h2{
        font-size: 3rem;
    }

    .followerTab_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}