
.Video_box_left_logo{
    font-size: 4rem;
}

.Video{
    width: 100%;
    margin-top: 18rem;
    margin-bottom: 12rem;
}

.Video_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 5rem;
    align-items: center;
}

.Video_box_frame_right{
    background-color: var(--shadow-dark-color);
    border-radius: 2.5rem;
    padding: 1rem;
    margin-left: 2rem;
    
}

.Video_box_frame_right_img{
    border-radius: 2rem;
    border-color: var(--shadow-dark-color);
}

.Video_box_left h2{
    font-size: 3.5rem;
    line-height: 1.4;
    font-weight: bolder;
    margin-top: -.5rem;
}

.Video_box_left p{
    font-size: 1.3rem;
    margin-top: -3rem;
}

.Video_box_left_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.Video_box_left_box small{
    font-size: 1rem;
    font-weight: 700;
}

.Video_box_left_box span{
    padding: .5rem .5rem;
    text-align: center;
}

.Video_box_left_btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

@media screen and (max-width: 35em) {
    .Video_box{
        grid-template-columns: 1fr;
    }

    .Video_box_left h1{
        font-size: 2.5rem;
    }
    .Video_box_left p{
        margin-top: -.5rem;
    }
}