.ui_styled_accordion_box{  
  width: 60%;
  margin: 0 auto;
  
  
}


.ui_styled_accordion h1{
  text-align: center;
  font-size: 4rem;
  
  margin-bottom: 0rem;
}

.ui_styled_accordion h3{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  
}


.ui_styled_accordion {
  max-width: 100%;
  position: relative;
  padding-top: 12rem;
}

.ui_accordion_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px double rgba(1,122,254,255);
  padding: 10px;
  background-color: var(--main-bg-color);
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
    
  
}

.ui_accordion_title:hover {
  background-color: var(--shadow-color);
}


.active .dropdown_icon {
  transform: rotate(-135deg);
}


.ui_accordion_content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.4s ease-in-out;
  margin-top: 0rem;
  margin-bottom: 1.5rem;  
  background-color: var(--main-bg-color);
  border-radius: 1rem;
}

.ui_accordion_content.active {
  max-height: 1000px;
}

.brand{
  margin-top: 20rem;

}
